node_modules
test

.idea/
.settings
logs/*.log

.git/
.env
.gitignore
.eslintignore
.eslintrc
.npmignore
.bash_history
.cache

# DevOps
*.box
.vagrant

LICENSE
README.md
CHANGELOG.md
docker-compose.yml
Vagrantfile
dist/
